<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <appSettings>
    <!--GPIO pin that the relay is connected to-->
    <add key="relay_pin" value="4"/>
    <!--Number of milliseconds to keep relay open (and lock unlocked)-->
    <add key="open_time" value="3000"/>
    <!--Server address to send log messages to-->
    <add key="server" value="http://localhost:3000"/>
  </appSettings>
</configuration>